---
import { Image, Picture } from 'astro:assets'

// Platinum
import odds from '$assets/odds.svg'

// Gold
import tdpk from '$assets/tdpk.svg'

// Silver
import earnin from '$assets/earnin.svg'
import devcon from '$assets/devcon.svg'
import microsoft from '$assets/microsoft.png'
import eventpop from '$assets/eventpop.png'

// Communities
import creatorsgarten from '$assets/creatorsgarten.svg'
import jetbrains from '$assets/jetbrains.svg'
---

<section class="py-12 px-8 bg-white">
  <div class="pb-12 text-center">
    <h1 class="pb-6 text-5xl font-bold text-brand-orange">Sponsors</h1>
    <p class="text-lg">
      JavaScript Bangkok would like to thank our sponsors for their kind
      contributions.
    </p>
    <p class="text-lg">
      If you're interested in becoming a sponsor, email us at
      <a href="mailto:sponsor@javascriptbangkok.com" class="text-brand-orange"
        >sponsor@javascriptbangkok.com</a
      >
    </p>
  </div>

  <div class="space-y-12 pb-8">
    <div>
      <h1 class="text-center font-bold text-3xl pb-6">Platinum</h1>
      <div class="sponsor-container">
        <Image src={odds} alt="ODDS" class="h-28 w-auto" />
      </div>
    </div>

    <div>
      <h1 class="text-center font-bold text-3xl pb-6">Gold</h1>
      <div class="sponsor-container">
        <Image src={tdpk} alt="True Digital Park" class="h-16 w-auto" />
      </div>
    </div>

    <div>
      <h1 class="text-center font-bold text-3xl pb-6">Silver</h1>
      <div class="sponsor-container">
        <Image src={earnin} alt="EarnIn" class="h-10 w-auto" />
        <Image src={devcon} alt="Road to Devcon" class="h-14 w-auto" />
        <Picture src={microsoft} alt="Microsoft" formats={['avif', 'webp']} class="h-8 w-auto" />
        <Picture src={eventpop} alt="Eventpop" formats={['avif', 'webp']} class="h-8 w-auto" />
      </div>
    </div>

    <div>
      <h1 class="text-center font-bold text-3xl pb-6">Communities</h1>
      <div class="sponsor-container">
        <Image src={creatorsgarten} alt="Creatorsgarten" class="h-9 w-auto" />
        <Image src={jetbrains} alt="Creatorsgarten" class="h-8 w-auto" />
      </div>
    </div>
  </div>
</section>

<style>
  .sponsor-container {
    @apply flex flex-wrap justify-center items-center gap-x-12 gap-y-8
  }
</style>
